.content-page {
  .banner {
    background-color: $color-BlueDarkPrimary;
    color: $color-Secondary;
    width: 100% !important;
    height: 714px;
    overflow: hidden;
    .wrapper-bg-img {
      svg {
        position: relative;
        bottom: 5.9rem;
        left: 75px;
        width: 100%;
      }
    }
    .container {
      @include FlexBox(flex, center, space-between, nowrap, row);
      // --------- Mobile Version --------------->
      @include Media ($mobile) {
        flex-direction: column;
        .banner-body {
          width: 100%;
          p {
            width: 100% !important;
          }
          .wrapper-button {
            margin-top: 34px !important;
            .btn {
              margin-left: 0px !important;
              margin-top: 15px;
            }
          }
        }
      }
      // ---------- Tablet Version ---------------->
      @include Media () {
        flex-direction: column;
      }
      position: relative;
      top: -55rem;
      width: 100%;
      padding: 1.5rem;
      .banner-body {
        @include Fade(5s);
        position: relative;
        top: .5rem;
        h1 {
          font-weight: $medium;
          line-height: 48px;
          text-transform: uppercase;
        }
        p {
          margin-top: 34px;
          color: $color-BlueDarkSecondary;
          width: 456px;
          line-height: 24px;
        }

        .wrapper-button {
          margin-top: 84px;
          .btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            font-size: $sizeSm;
            font-weight: $medium;
            width: 200px;
            &:nth-child(2) {
              margin-left: 25px;
            }
            .bx {
              font-size: $sizeMd;
              position: relative;
              left: 5px;
            }
          }
          .btn-danger {
            @include Fade(3s);
            background-color: $color-RedPrimary;
            color: $color-Secondary;
          }
          .btn-outline-light {
            @include Fade(4s);
            border: 2px solid $color-Primary;
            text-transform: uppercase;
          }
        }
      }
      .banner-hero {
        @include Fade-In-Right(2s);
        img, svg {
          position: relative;
          left: 4.7rem;
        }
      }
    }
  }
}